
<div class='container' style="display:block">
  <h1>{{ title }}</h1>
  <br/>
  <h2>Global Statistics</h2>
  <p style="text-align:center">Last update: {{lastUpdate}}</p>
    <div class="content">

      <div class="row">
        <div class="col">
          <mat-card class="card" id="c1">
            <mat-card-title-group>
              <mat-card-title>Total Cases</mat-card-title>
              <mat-card-subtitle>{{newCases}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              {{totalCases}}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="card" id="c2">
            <mat-card-title-group>
              <mat-card-title>Total Recovered</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              {{totalRecovered}}
            </mat-card-content>
          </mat-card>

        </div>
        <div class="col">
          <mat-card class="card" id="c3">
            <mat-card-title-group>
              <mat-card-title>Total Deaths</mat-card-title>
              <mat-card-subtitle>{{newDeaths}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              {{ totalDeaths}}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
<br/>
<div class="countrystats">
  <h2>Country Statistics</h2>
  <p style="text-align:center">Last update: {{lastUpdate}}</p>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select class="formControl" [(ngModel)]="selectedValue" (change)="changeCountry($event)">
      <mat-option *ngFor="let country of countries; let i = index;"  [value]="i"  >
        {{country.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div style="margin-top:50px; ">
  <ngx-charts-bar-horizontal
  [results]="DataOption"
  [view]= "[900, 350]"

  [gradient]="gradient"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="yAxisLabel"
  [yAxisLabel]="xAxisLabel"
  [legendTitle]="legendTitle"
  [legendPosition]="legendlocation"
  [animations]="animations"
  [showGridLines]="showGridLines"
  [trimXAxisTicks]="trimXAxisTicks"
  [trimYAxisTicks]="trimYAxisTicks"
  [rotateXAxisTicks]="rotateXAxisTicks"
  [maxXAxisTickLength]="maxXAxisTickLength"
  [maxYAxisTickLength]="maxYAxisTickLength"
  [xAxisTickFormatting]="formatNumber"
  [yAxisTickFormatting]="formatString"
  [xAxisTicks]="yAxisTicks"
  [showDataLabel]="showDataLabel"
  [barPadding]="barPadding"
  [tooltipDisabled]="tooltipDisabled"
  [roundEdges]="roundEdges">
  </ngx-charts-bar-horizontal>
  <br/>
</div>
<br/>


</div>





